<form action="/cart" method="post">       <!-- This is a Add to cart code feature used in Shop products detailsView-->
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>" >
</form> 